<div class="flex justify-center mt-20 pb-36 md:ml-48 lg:ml-24 animate-fadeIn overflow-x-hidden">
  <div class="mx-auto pb-32 min-w-[330px] max-w-[330px] md:min-w-[780px] md:max-w-[780px]">
    <div class="bg-gray-100 rounded-lg">
      <div class="w-full mx-auto px-4">
        <!--通常サイズ-->
        <div class="grid grid-cols-3">
          <div class="mx-auto h-[180px] mt-4 md:mt-24 -ml-6 md:ml-auto">
            <div class="flex justify-center pt-6">
              <%= image_tag @profile.image.present? ? @profile.image : 'defaultUser.jpg', class: 'object-cover rounded-full size-20 md:size-40', width: 50, height: 50 %>
            </div>
           
            <div class="flex items-center justify-center font-normal md:mt-2">
              <!--フォローボタン-->
              <% if current_user != @user %>
              <div class="flex justify-center w-28 md:w-full mt-4 md:-ml-10">
                <%= render 'relationships/follow_button' %>
              </div>
              <% else %>
                <button id="openProfileModal" class="border border-gray-500 w-24 md:w-auto px-auto md:px-2 py-1 md:py-2 mt-4 ml-4 md:ml-8 text-xs rounded-full">プロフィールの編集</button>
              <% end %>
              <!--メッセージ-->
              <% if current_user.id != @user.id %>
                <% if @is_room %>
                  <!--すでにあるチャットルーム取得し表示-->
                  <%= link_to user_room_path(@user, @room_id), class: 'border border-black mt-4 ml-auto md:ml-4 p-1 rounded-full' do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                    </svg>
                  <% end %>
                <% else %>
                  <!--チャットルーム新規作成-->
                  <%= form_with model: @room, url: user_rooms_path(@user, @room), method: :post, local: true do |f| %>
                    <%= fields_for @entry do |e| %>
                      <%= e.hidden_field :user_id, value: @user.id %>
                      <%= f.button type: 'submit', class: 'border border-black mt-4 md:ml-4 p-1 rounded-full' do %>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                        </svg>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <div class="mt-4 ml-2 md:ml-4 p-1">&nbsp;</div>
              <% end %>
            </div>
          </div>      
          <div class="w-[480px] mt-8 ml-0 md:ml-2">
            <div class="block">
              <div class="flex items-center pt-4 md:pt-8 pl-1 md:pl-auto font-semibold min-w-[200px] max-w-[200px]">
                <div class="text-xl md:text-4xl md:min-w-[330px] md:max-w-[330px]">
                  <%= @user.name %>
                </div>
                <div class="mt-2 md:mt-3 px-4 md:px-8">
                  <% if @profile.youtube_url.present? %>
                    <%= link_to @profile.youtube_url, target: "_blank", rel: "noopener" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 30 30" class="size-5 md:size-7">
                          <path d="M 15 4 C 10.814 4 5.3808594 5.0488281 5.3808594 5.0488281 L 5.3671875 5.0644531 C 3.4606632 5.3693645 2 7.0076245 2 9 L 2 15 L 2 15.001953 L 2 21 L 2 21.001953 A 4 4 0 0 0 5.3769531 24.945312 L 5.3808594 24.951172 C 5.3808594 24.951172 10.814 26.001953 15 26.001953 C 19.186 26.001953 24.619141 24.951172 24.619141 24.951172 L 24.621094 24.949219 A 4 4 0 0 0 28 21.001953 L 28 21 L 28 15.001953 L 28 15 L 28 9 A 4 4 0 0 0 24.623047 5.0546875 L 24.619141 5.0488281 C 24.619141 5.0488281 19.186 4 15 4 z M 12 10.398438 L 20 15 L 12 19.601562 L 12 10.398438 z"></path>
                      </svg>
                    <% end %>
                  <% end %>
                </div>
                <div class="mt-2 md:mt-3">
                  <% if @profile.x_url.present? %>
                    <%= link_to @profile.x_url, target: "_blank", rel: "noopener" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50" class="size-5 md:size-6">
                          <path d="M 11 4 C 7.134 4 4 7.134 4 11 L 4 39 C 4 42.866 7.134 46 11 46 L 39 46 C 42.866 46 46 42.866 46 39 L 46 11 C 46 7.134 42.866 4 39 4 L 11 4 z M 13.085938 13 L 21.023438 13 L 26.660156 21.009766 L 33.5 13 L 36 13 L 27.789062 22.613281 L 37.914062 37 L 29.978516 37 L 23.4375 27.707031 L 15.5 37 L 13 37 L 22.308594 26.103516 L 13.085938 13 z M 16.914062 15 L 31.021484 35 L 34.085938 35 L 19.978516 15 L 16.914062 15 z"></path>
                      </svg>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="flex items-center">
                <div class="text-sm md:text-base mt-1 ml-1 md:mt-3">
                  <% if @user.follower_users.present? %>
                    <div class="cursor-pointer">
                      <%= link_to followers_user_path(@user) do %>
                        フォロワー <%= @user.follower_users.count %>人
                      <% end %>
                    </div>
                  <% else %>
                    フォロワー
                  <% end %>
                </div>
                <div class="text-sm md:text-base mt-1 md:mt-3 ml-2 md:ml-10">
                  <% if @user.followee_users.present? %>
                    <div class="cursor-pointer">
                      <%= link_to follows_user_path(@user) do %>
                        フォロー中 : <%= @user.followee_users.count %>人
                      <% end %>
                    </div>
                  <% else %>
                  フォロー
                  <% end %>
                </div>
              </div>
            </div>
            <!--通常サイズ プロフ一覧-->
            <div class="hidden md:block">
              <div class="grid grid-cols-3 pt-6 h-20">
                <div class="relative z-0 w-full mb-3 group">
                  <div class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70">
                    楽器 : <%= @profile.instrument.present? ? @profile.instrument : '' %>
                  </div>
                </div>
                <div class="relative z-0 w-[320px] mb-3 group">
                  <div class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70">
                    好きな音楽ジャンル : <%= @profile.favorite_music.present? ? @profile.favorite_music : '' %>
                  </div>
                </div>
              </div>
              <div class="relative z-0 w-full mb-3 group">               
                <div class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70">
                  お気に入りアーティスト : <%= @profile.favorite_artist.present? ? @profile.favorite_artist : '' %>
                </div>
              </div>
              <div class="relative z-0 w-full mb-3 group">
                <div class="block h-24 py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70" %>
                  自己紹介：<%= @profile.introduction.present? ? @profile.introduction : '' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--SMサイズ プロフ一覧-->
        <div class="block md:hidden">
          <div class="relative z-0 w-full mb-3 group">
            <div class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70">
              楽器 : <%= @profile.instrument.present? ? @profile.instrument : '' %>
            </div>
          </div> 
          <div class="relative z-0 w-full mb-3 group">
              <div class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70">
                好きな音楽ジャンル : <%= @profile.favorite_music.present? ? @profile.favorite_music : '' %>
              </div>
            </div>
          <div class="relative z-0 w-full mb-3 group">               
            <div class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70">
              お気に入りアーティスト : <%= @profile.favorite_artist.present? ? @profile.favorite_artist : '' %>
            </div>
          </div>
          <div class="relative z-0 w-full mb-3 group">
            <div class="block h-24 py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70" %>
              自己紹介：<%= @profile.introduction.present? ? @profile.introduction : '' %>
            </div>
          </div>
        </div>
        
        <div class="w-full mt-8 md:ml-20 text-gray-900 font-semibold">
          <% if @user.posts.present? %>
            投稿一覧 <%= @user.posts.count %>件
          <% else %>
            投稿一覧 0件
          <% end %>
        </div>
        <div class="grid grid-cols-3 gap-1 mt-2 mx-auto md:mx-4 pb-8 overflow-y-auto overflow-x-none">  
          <% @users.each do |user| %>
            <%= link_to post_path(user) do %>
              <%= image_tag user.images.first, class: "object-cover h-24 md:h-52 w-28 md:w-64", size: "80x80" %> 
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="profileModal" class="fixed inset-0 justify-center bg-black/80 backdrop-blur-sm z-50 custom-scrollbar overflow-auto hidden">
  <button id="closeProfileModal" class="w-screen">閉じる</button>
  <div id="modalContent">
    <%= render 'profiles/edit', user: @user %>
  </div>
</div>
