<%= link_to transition_path(notification) do %>
  <div class="flex border-b-2 border-gray-700/30">
    <div class="py-3">
      <%= link_to user_profile_path(notification.subject.room.entries.first.user) do %>
        <%= image_tag notification.subject.room.entries.first.user.profile.image.present? ? notification.subject.room.entries.first.user.profile.image : 'defaultUser.jpg', class: "rounded-full size-12 cursor-pointer" %>
      <% end %>
    </div>
    <div class="flex items-center ml-4 mb-2">
      <%= notification.subject.room.entries.first.user.name %> からメッセージが届きました
      <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
    </div>
  </div>
<% end %>