<div>
  <div class="fixed md:hidden z-50 bottom-0 left-0 right-0 bg-[#171718] flex flex-cols w-full rounded text-white overflow-auto">
    <div class="flex items-center border-t-2 border-gray-500 justify-between w-full pr-10">
      <!-- ホーム -->
      <div class="flex items-center w-4">
        <%= link_to posts_path, class: "flex items-center w-16 h-14 px-3 mt-2 hover:bg-gray-700 rounded-lg" do %>
          <svg class="size-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="1.5" stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round" stroke-width="2" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>
          <span class="hidden">ホーム</span>
        <% end %>
      </div>

      <!-- 検索 -->
      <div id="openSearchSmButton" class="flex items-center w-4">
        <a class="flex items-center w-16 h-14 px-3 mt-2 hover:bg-gray-700 rounded-lg" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
            <span class="hidden">検索</span>
          </a>
      </div>

      <!-- 検索フォーム -->
      <div id="slideSmMenu" class="fixed left-0 top-0 flex justify-center transform -translate-y-full duration-300 border-b-2 border-gray-500 h-[100px] w-full bg-[#171718] ">
        <div id="auto-sm-input" data-controller="autocomplete" data-autocomplete-url-value="/posts/auto_search" role="combobox">
          <%= search_form_for @q, url: posts_path do |f| %>
            <%= f.search_field :brand_or_category_or_instrument_model_or_user_name_cont, id: 'search_input', class: 'text-black mt-6 w-[350px] rounded-xl', data: { autocomplete_target: 'input' }, placeholder: '検索ワード' %>
            <%= f.hidden_field :brand, data: { autocomplete_target: 'hidden' } %>
            <div class="flex justify-center">
              <ul class="mt-2 list-group bg-white absolute w-full text-sm min-w-sm max-w-max" data-autocomplete-target="results"></ul>
            </div>      
          <% end %>
        </div>
      </div>

      <!-- メッセージ -->
      <div class="flex items-center w-4">
        <a class="flex items-center w-16 h-14 px-3 mt-2 hover:bg-gray-700 rounded-lg" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
            </svg>
            <span class="hidden">メッセージ</span>
          </a>
      </div>
      <!-- お知らせ -->
      <div class="flex items-center w-4">
        <a class="flex items-center w-16 h-14 px-3 mt-2 hover:bg-gray-700 rounded-lg" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
            </svg> 
            <span class="hidden">お知らせ</span>
          </a>
      </div>
      <!-- 投稿 -->
      <div class="flex items-center w-4"> 
        <%= link_to new_post_path, class: "flex items-center w-16 h-14 px-3 mt-2 hover:bg-gray-700 rounded-lg" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
          <span class="hidden">投稿</span>
        <% end %>
      </div>
      <!-- その他 -->
      <div id="footerBarDropdownButton" class="flex items-center w-4">
        <div class="flex items-center w-16 h-14 px-3 mt-2 hover:bg-gray-700 rounded-lg cursor-pointer" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-7">
            <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75H12a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
          </svg>
          <span class="hidden">その他</span>
        </div>
      </div> 
      <div id="footerBarDropdownMenu" class="hidden fixed bottom-20 right-1 text-center w-24 px-1 mt-16 bg-[#353539] rounded-lg">
        <div class="flex justify-center">
          <ul class="text-center w-28 text-sm text-white">
            <li>
              <button id="footerBarOpenModalTerms" class="block flex items-center justify-center px-2 py-2 h-14 w-24 text-xs hover:bg-gray-600 rounded-md">利用規約</button>
            </li>
            <li>
              <button id="footerBarOpenModalPolicy" class="block flex items-center justify-center px-2 py-2 h-14 w-24 text-xs hover:bg-gray-600 rounded-md">プライバシーポリシー</button>
            </li>
            <li>
              <a 
                a href="https://docs.google.com/forms/d/e/1FAIpQLSfLhEfYmU4qfPeir9hnvZFJagbuRbEzKuXeen9rmyWaAI8DNw/viewform?usp=sf_link"
                class="block flex items-center justify-center px-2 py-2 h-14 w-24 text-xs hover:bg-gray-600 rounded-md">
                お問い合わせ
              </a>
            </li>
          </ul>
        </div> 
      </div>
    </div>
  </aside>

  <div id="footerBarModalTerms" class="fixed inset-0 justify-center text-black bg-black/80 backdrop-blur-sm z-50 hidden">
    <button id="footerBarCloseModalTerms"></button>
    <div id="modalContentTerms">
      <%= render 'pages/Terms_of_use' %>
    </div>
  </div>

  <div id="footerBarModalPolicy" class="fixed inset-0 justify-center text-black bg-black/80 backdrop-blur-sm z-50 hidden">
    <button id="footerBarCloseModalPolicy"></button>
    <div id="modalContent">
      <%= render 'pages/policy' %>
    </div>
  </div>
</div>
