<% header_class = logged_in? ? 'bg-[#171718] z-50' : 'z-0' %>
<header class="fixed top-0 left-0 right-0 flex items-center text-white h-20 <%= header_class %>">
  <nav class="mx-12 w-full">
    <div class="flex items-center justify-between -ml-8 md:ml-0">    
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-yellow-600 size-5 md:size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
        </svg>
        <a harf="root_path" class="ml-2 text-white text-2xl md:text-3xl xl:text-3xl font-sans font-bold ">GearNet.</a>
      </div>
      <div class="flex items-center">
        <% if logged_in? %>
          <div class="fixed top-1 right-1 md:right-3">
            <div id="dropdownButton" class="mx-8 p-3 hover:bg-gray-700 rounded-full cursor-pointer">
              <%= image_tag @header_image, class:'border border-black/80 size-10 md:size-12 xl:size-12 rounded-full' %>
            </div>   
            <div id="dropdownMenu" class="bg-[#353539] w-28 md:w-32 rounded-lg hidden">
              <div class="block text-center text-sm md:text-base border-b-2 border-gray-300/60 px-4 py-3 cursor-default"><%= current_user.name %></div>
              <ul class="text-center w-28 md:w-32">
                <li><%= link_to 'プロフィール', user_profile_path(current_user), class: 'block px-4 py-4 text-xs md:text-sm hover:bg-gray-600 rounded-lg' %></li>
               
                  <li><%= link_to 'アカウント管理', edit_user_path(current_user), class: 'block px-3 md:px-4 py-4 md:py-5 text-xs hover:bg-gray-600 rounded-lg' %></li>
             
                <li><%= link_to 'Logout', logout_path, data: { turbo_method: "delete" }, class: 'block px-4 py-3 md:py-4 text-sm md:text-base hover:bg-gray-600 rounded-lg' %></li>
              </ul>
            </div>
          </div>
        <% else %> 
          <%= link_to 'LogIn', login_path, class: 'bg-gray-600 py-[2px] px-5 ml-4 md:ml-0 text-xs md:text-sm font-bold hover:opacity-40' %>
          <%= link_to 'SignUp', new_user_path, class: 'p-1 px-3 ml-10 md:ml-16 text-black bg-white transition hover:opacity-40 text-xs font-bold rounded-sm' %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
