<div class="bg-blue-500/30 flex justify-center mx-auto animate-fadeIn">
  <div class="absolute top-20 left-1/2 transform -translate-x-1/2 min-w-[330px] max-w-[330px] md:min-w-[550px] md:max-w-[550px] pb-36">
    <div class="bg-gray-100 h-[730px] rounded-xl cursor-pointer overflow-hidden">
      <div class="w-full mx-auto px-4">
        <%= form_with(model: @post, id: 'edit_post') do |f| %>
          <div class="border-b border-gray-700/20 grid grid-cols-2 font-medium">
            <%= link_to 'キャンセル', post_path, class: 'py-2 mt-1 text-left text-xs md:text-base rounded-lg text-gray-700' %>
            <div class="text-right">
              <%= f.submit "編集する", class: "text-blue-500 hover:text-blue-700 font-medium text-xs md:text-base py-2 mt-1" %>
            </div>
          </div>
          <div>
            <!-- Brand / Category -->
            <div class="grid md:grid-cols-2 mt-8 md:mt-16">
              <div class="relative z-0 w-full mb-5 group">
                <%= f.text_field :brand, id: "edit_brand", list: "edit_brand-list", class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: " ", required: true %>
                <datalist id="edit_brand-list">
                  <% Post.brands.keys.each do |brand| %>
                    <option value="<%= brand %>"></option>
                  <% end %>
                </datalist>
                <label for="brand-list" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">ブランド名:</label>
              </div>
              <div class="relative z-0 w-full mb-5 group">
                <%= f.text_field :category, id: "edit_category", maxlength: 15, class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: " ", required: true %>
                <label for="category" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">楽器のカテゴリー:</label>
                <% @post.errors.where(:category).each do |category| %>
                  <p class="text-red-500"><%= category.full_message %></p>
                <% end %>
              </div>
            </div>

            <!-- Model -->
            <div class="relative z-0 w-full mb-5 group">
              <%= f.text_field :instrument_model, id: "edit_instrument_model", maxlength: 25, class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: " " %>
              <label for="instrument_model" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">楽器のモデル:</label>
              <% @post.errors.where(:instrument_model).each do |instrument_model| %>
                <p class="text-red-500"><%= instrument_model.full_message %></p>
              <% end %>
            </div>

            <!-- Year / Tags -->
            <div class="grid md:grid-cols-2">
              <div class="relative z-0 w-full mb-5 group">
                <%= f.number_field :production_year, list: "year-list", in: 1950..2024, class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: " " %>
                <datalist id="year-list">
                  <% Post.production_years.keys.each do |year| %>
                    <option value="<%= year %>">
                  <% end %>
                </datalist>
                <label for="production_year" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">製造年月:</label>
              </div>
              <div class="relative z-0 w-full mb-5 group">
                <label for="tags" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">タグ:</label>
              </div>
            </div>

            <!-- Text -->
            <div class="boarder border-red-500 relative z-0 w-full mb-5 group">
              <%= f.text_area :body, id: "body", rows: 8, maxlength: 100, class: "block px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-500/70 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer resize-none", placeholder: " " %>
              <label for="body" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">本文:</label>
              <% @post.errors.where(:body).each do |body| %>
                <p class="text-red-500"><%= body.full_message %></p>
              <% end %>
            </div>

            <!-- File Upload -->
            <%= f.file_field :images, multiple: true, accept: 'image/png, image/jpeg', class: 'text-xs', id: 'edit-file-input'%>
            <% if @post.images.attached? %>
              <div id="edit-previews" class="flex overflow-x-auto overflow-y-hidden mt-4 md:mt-10 ml-auto h-36 md:h-48 w-full">
                <% @post.images.each do |image| %>
                  <div class="relative flex-shrink-0 mx-1">
                    <%= image_tag image, class: 'object-cover w-[70px] md:w-[78px] h-[100px] md:h-[120px] cursor-pointer' %>
                    <%= f.check_box :image_ids, {multiple: true}, image.id, false %>
                  </div>
                <% end %> 
              </div>
            <% end %> 
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
