<div class="flex justify-center mt-20 pb-36 md:ml-48 lg:ml-24 animate-fadeIn">
  <div class="mx-auto min-w-[330px] max-w-[330px] md:min-w-[550px] md:max-w-[550px]">
    <div class="bg-gray-100 h-[680px] md:h-[720px] rounded-lg">
      <div class="w-full mx-auto px-4">
        <%= form_with(model: @post, id: 'new_post', local: true) do |f| %>
          <div class="border-b border-gray-700/20 grid grid-cols-3 font-medium">
            <%= link_to 'キャンセル', posts_path, class: 'py-2 mt-1 text-left text-xs md:text-base rounded-lg text-gray-700' %>
            <span class="flex items-center justify-center font-semibold">新規作成</span>
            <div class="text-right">
               <%= f.submit "投稿する", class: "text-blue-500 hover:text-blue-700 font-medium text-xs md:text-base py-2 mt-1" %>
            </div>
          </div>
          <div>
            <!-- Brand / Category -->
            <div class="grid md:grid-cols-2 mt-4 md:mt-16">
              <div class="relative z-0 w-full mb-3 md:mb-5 group">
                <%= f.text_field :brand, list: "brand-list", class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: " ", required: true %>
                <datalist id="brand-list">
                  <% Post.brands.keys.each do |brand| %>
                    <option value="<%= brand %>"></option>
                  <% end %>
                </datalist>
                <label for="brand-list" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">ブランド名:</label>
              </div>
              <div class="relative z-0 w-full mb-3 md:mb-5 group">
                <%= f.text_field :category, id: "category", maxlength: 15, class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: " ", required: true %>
                <label for="category" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">楽器のカテゴリー:</label>
                <% @post.errors.where(:category).each do |category| %>
                  <p class="text-red-500"><%= category.full_message %></p>
                <% end %>
              </div>
            </div>

            <!-- Model -->
            <div class="relative z-0 w-full mb-3 md:mb-5 group">
              <%= f.text_field :instrument_model, id: "instrument_model", maxlength: 25, class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: " " %>
              <label for="instrument_model" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">楽器のモデル:</label>
              <% @post.errors.where(:instrument_model).each do |instrument_model| %>
                <p class="text-red-500"><%= instrument_model.full_message %></p>
              <% end %>
            </div>

            <!-- Year / Tags -->
            <div class="grid md:grid-cols-2">
              <div class="relative z-0 w-full mb-3 md:mb-5group">
                <%= f.number_field :production_year, list: "year-list", in: 1950..2024, class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: " " %>
                <datalist id="year-list">
                  <% Post.production_years.keys.each do |year| %>
                    <option value="<%= year %>">
                  <% end %>
                </datalist>
                <label for="production_year" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">製造年月:</label>
              </div>

              <div class="relative z-0 w-full mb-3 md:mb-5 group">
                <%= f.text_field :tag_list, id: 'tag', maxlength: 15, class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-500/70 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: " " %>
                <label for="tags" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">タグ:</label>
              </div>
            </div>

            <!-- Text -->
            <div class="relative z-0 w-full mb-3 md:mb-5 group">
              <%= f.text_area :body, id: "body", rows: 8, class: "block px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-500/70 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer resize-none", placeholder: " " %>
              <label for="body" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">本文:</label>
              <% @post.errors.where(:body).each do |body| %>
                <p class="text-red-500"><%= body.full_message %></p>
              <% end %>
            </div>
          </div>
          <div>
            <!-- File Upload -->
            <div class="grid grid-cols-2 image-field"> 
              <div class="click-upload">
                <%= f.file_field :images, multiple: true, id: 'file-input', accept: 'image/png, image/jpeg', class:"hidden text-sm mr-2" %>
                <label for="file-input" class="relative bg-gray-300 h-40 md:h-56 w-[160px] md:w-[250px] mr-4 flex flex-col items-center justify-center rounded-lg cursor-pointer overflow-hidden">
                  <svg id="fileSvg"xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute z-50 mb-4 size-14 md:size-20 text-gray-600/30">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z" />
                  </svg>
                  <div id="placeholder-text" class="mt-24 text-gray-600 text-xs md:text-sm">
                    ファイルを選択してください
                    <p class="text-center text-xs md:text-sm">最大6枚まで投稿できます</p>
                  </div>
                  <img id="image-preview" class="hidden h-full w-full object-cover" src="" alt="選択された画像"/>
                </label>
              </div>
              <div>
               <div id="previews" class="flex overflow-x-auto overflow-y-hidden mt-12 md:mt-28 ml-4 md:ml-auto h-28 w-[130px] md:w-full"></div>
              </div>
            </div> 
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
