<div class="fixed top-16 left-48 bg-blue-500/30 w-screen h-0 mx-auto ml-2 z-50 animate-fadeIn">
    <div class="flex justify-center overflow-auto w-11/12">
      <div class="px-2 w-full max-w-xl bg-white rounded-s-2xl">
        <div class="flex justify-center p-2 cursor-default">
          <div class="pt-4 pl-4">
            <!-- アイコン画像 -->
            <%= image_tag 'defaultUser.jpg', class: "border border-black/80 rounded-full cursor-pointer", width: 80, height: 80 %>
            <!-- ユーザー名 -->
            <div class="text-lg font-semibold pt-1 pr-2"><%= current_user.name %></div>
          </div>
          <div class="flex flex-col w-11/12 ml-4 font-semibold italic space-y-2">
            <div class="flex flex-wrap text-3xl w-full pt-2">
              <!-- ブランド・楽器の種類 -->
              <%= @post.brand %>
              <span class="pl-2"><%= @post.category %></span>
            </div>
            <!-- 楽器のモデル -->
            <% if @post.instrument_model.present? %>
              <div class="text-xl pl-2"><%= @post.instrument_model %></div>
            <% end %>
            <!-- 製造年月 -->
            <% if @post.production_year.present? %>
              <div class="text-xl text-right pr-6 mb-1"><%= @post.production_year %>年製</div>
            <% else %>
              <div class="text-xl text-right pr-6 mb-1">&nbsp;</div>
            <% end %>
          </div>  
        </div>
        <div class="text-lg text-right mr-4 -mt-4">
          #ギター
        </div>
        <!-- メイン画像 -->
        <% if @post.image.present? %>
          <%= image_tag @post.image, class: "object-cover h-[32rem] w-full border-2 border-gray-700 rounded-xl" %>
        <% else %>
          <%= image_tag 'default.jpg', class: "object-cover h-[32rem] w-full border-2 border-gray-700 rounded-xl" %> 
        <% end %>
        <div class="h-48 cursor-default">
          <div class="grid grid-cols-2 h-12">
            <div class="flex items-center pl-4 text-2xl italic">
              <%= l @post.created_at, format: :custom_default %>
            </div>
            <div class="flex items-center">
            <%= link_to "フォローする", '#', class: "px-4 py-2 ml-24 bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-900 text-white text-sm rounded-full shadow-md transition-all duration-300 ease-in-out transform hover:-translate-y-1" %>
              <span class="pl-6">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 cursor-pointer">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </svg>
              </span>
            </div>
          </div>
          <div>
            <div class="border-2 border-gray-500/30 bg-gray-200 w-11/12 mx-auto h-32 rounded-3xl">
              <div class="pt-2 pl-5">
                <%= simple_format(@post.body) %>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <!-- ここからコメントフォーム -->
      <div class="grid grid-rows border-l border-gray-700/2 bg-white w-3/12 rounded-e-lg"> 
        <div class="border-b border-gray-700/20 h-14 pr-4">
          <% if @post.user == current_user %>
            <div class="flex justify-end h-12">
              <div id="showDropdownButton" class="pt-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 cursor-pointer">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                </svg>
              </div>
            </div> 
            <div id="showDropdownMenu" class="fixed top-16 right-56 bg-[#353539] w-28 rounded-lg hidden">
              <ul class="text-white text-center w-28">
                <li>
                  <button id="openModal" class="block px-4 py-2 w-28 hover:bg-gray-600 rounded-lg">編集</button>   
                </li>
                <li>
                  <%= link_to '削除', post_path, data: { turbo_method: "delete", turbo_confirm: '削除しますか' }, class: 'block px-4 py-2 hover:bg-gray-600 rounded-lg' %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
        <!-- コメント一覧 -->
        <div class="custom-scrollbar ml-2 fixed top-32 h-3/4 overflow-auto">
          <div id="comment" class="h-16">
            <%= render @comments %>
          </div>
        </div>
        <!-- ここからコメント入力フォーム -->
        <div class="fixed z-50 bottom-5 buttom-0 border-t border-gray-700/20 p-4 w-3/12">
          <%= render 'comments/form', comment: @comment, post: @post %>
        </div>
      </div>
    </div>
</div>

<div id="modal" class="fixed inset-0 items-center justify-center bg-black/80 backdrop-blur-sm z-50 hidden">
  <button id="closeModal">閉じる</button>
  <div id="modalContent">
    <%= render 'posts/edit', post: @post %>
  </div>
</div>

