<div class="fixed top-24 lg:top-20 left-64 lg:left-96 mx-auto z-0">
    <div class="w-10/12 lg:w-auto flex justify-center">
      <div class="px-2 min-w-96 bg-white rounded-2xl md:rounded-l-2xl  md:rounded-none lg:rounded-l-2xl lg:rounded-none">
        <div class="flex justify-center lg:h-auto p-2 cursor-default">
          <div class="pt-4 pl-4">
            <!-- アイコン画像 -->
            <%= image_tag 'defaultUser.jpg', class: "border border-black/80 rounded-full cursor-pointer", width: 80, height: 80 %>
            <!-- ユーザー名 -->
            <div class="text-lg font-semibold pt-1 pr-2"><%= current_user.name %></div>
          </div>
          <div class="flex flex-col w-11/12 ml-4 font-semibold italic space-y-2">
            <div class="flex flex-wrap text-xl lg:text-3xl w-full pt-2">
              <!-- ブランド・楽器の種類 -->
              <%= @post.brand %>
              <span class="pl-2"><%= @post.category %></span>
            </div>
            <!-- 楽器のモデル -->
            <% if @post.instrument_model.present? %>
              <div class="text-xl lg:text-2xl pl-2"><%= @post.instrument_model %></div>
            <% else %>
              <div class="text-xl lg:text-2xl pl-2">&nbsp;</div>  
            <% end %>
            <!-- 製造年月 -->
            <% if @post.production_year.present? %>
              <div class="text-lg lg:text-2xl text-right pr-6 pb-2"><%= @post.production_year %>年製</div>
            <% else %>
              <div class="text-lg lg:text-2xl text-right pr-6 pb-2">&nbsp;</div>
            <% end %>
          </div>  
        </div>
        <div class="text-lg text-right mr-4 -mt-4">
          #ギター
        </div>
        <!-- メイン画像 -->
        <% if @post.image.present? %>
          <%= image_tag @post.image.variant(resize_to_fit: [580, 800]), class: "object-contain h-[490px] w-[680px] border-2 border-gray-700/50 bg-black/90 rounded-xl" %>

        <% else %>
          <%= image_tag 'default.jpg', class: "object-cover h-[32rem] w-full border-2 border-gray-700 rounded-xl" %> 
        <% end %>
        <div class="h-48 cursor-default">
          <div class="grid grid-cols-2 h-12">
            <div class="flex items-center pl-4 text-xl lg:text-2xl italic">
              <%= l @post.created_at, format: :custom_default %>
            </div>
            <div class="flex items-center">
              <!-- フォロー機能 -->
              <%= link_to "フォローする", '#', class: "px-4 py-2 ml-6 lg:ml-24 bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-900 text-white text-xs lg:text-sm rounded-full shadow-md transition-all duration-300 ease-in-out transform hover:-translate-y-1" %>
              <!-- いいね機能 -->
              <%= render 'likes/like_button' %>
            </div>
          </div>
          <div>
            <div class="border-2 border-gray-500/30 bg-gray-200 w-11/12 mx-auto h-32 rounded-3xl">
              <div class="pt-2 pl-5">
                <%= simple_format(@post.body) %>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <!-- ここからコメントフォーム -->
      <div class="sm:hidden md:block border-l border-gray-700/20 bg-white w-[480px] lg:w-[380px] rounded-r-2xl"> 
        <div class="border-b border-gray-700/20 h-12 pr-4">
          <% if @post.user == current_user %>
            <div class="flex justify-end h-12">
              <div id="showDropdownButton" class="pt-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 cursor-pointer">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                </svg>
              </div>
            </div> 
            <div id="showDropdownMenu" class="absolute lg:fixed z-50 ml-96 lg:top-20 right-24 lg:right-24 bg-[#353539] w-28 rounded-lg hidden">
              <ul class="text-white text-center w-28">
                <li>
                  <button id="openModal" class="block px-4 py-2 w-28 hover:bg-gray-600 rounded-lg">編集</button>   
                </li>
                <li>
                  <%= link_to '削除', post_path, data: { turbo_method: "delete", turbo_confirm: '削除しますか' }, class: 'block px-4 py-2 hover:bg-gray-600 rounded-lg' %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
        <!-- コメント一覧 -->
        <div class="ml-1 lg:ml-2 fixed top-36 lg:top-32  h-2/3 lg:h-3/4 custom-scrollbar overflow-auto">
          <div id="comment" class="h-16">
            <%= render @comments %>
          </div>
        </div>
        <!-- ここからコメント入力フォーム -->
        <div class="border-t border-gray-700/20 absolute z-50 bottom-0 lg:bottom-5 p-4 h-20 w-[294px] lg:w-[380px]">
          <%= render 'comments/form', comment: @comment, post: @post %>
        </div>
      </div>
    </div>
</div>

<div id="modal" class="fixed inset-0 items-center justify-center bg-black/80 backdrop-blur-sm z-50 hidden">
  <button id="closeModal">閉じる</button>
  <div id="modalContent">
    <%= render 'posts/edit', post: @post %>
  </div>
</div>

