<!DOCTYPE html>
<html>
  <head>
    <title>GearNET.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Flowbite CSS -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <!--swiper CDN-->
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags(default_meta_tags) %> 

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CZE07FWW4M"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CZE07FWW4M');
    </script>
  </head>

  <body class="<%= logged_in? ? 'logged-in' : 'logged-out' %> custom-scrollbar overflow-auto">
    <% if logged_in? %>
      <%= render 'shared/header' %>
      <%= render 'shared/sidebar' %> 
      <%= render 'shared/footerbar' %>
    <% else %>
      <%= render 'shared/header' %> 
      <%= render 'shared/footer' %>
    <% end %>
    <%= render 'shared/flash_messages' %>
    <%= yield %>
    <!-- Flowbite JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <!--swiper CDN-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>

