<!DOCTYPE html>
<html>
  <head>
    <title>GearNET.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Flowbite CSS -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <!--swiper CDN-->
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <meta property="og:title" content="GearNET - 楽器好きのためのコミュニティ" />
    <meta property="og:description" content="楽器や機材の情報交換、音楽活動をサポートするGearNETにようこそ。" />
    <meta property="og:url" content="https://gear-net-5ecaa1f2c6d8.herokuapp.com/" />
    <meta property="og:image" content="opg.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="GearNET" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="GearNET - 楽器好きのためのコミュニティ" />
    <meta name="twitter:description" content="楽器や機材の情報交換、音楽活動をサポートするGearNETにようこそ。" />
    <meta name="twitter:image" content="https://gear-net-5ecaa1f2c6d8.herokuapp.com/path_to_your_og_image.png" />
  </head>

  <body class="<%= logged_in? ? 'logged-in' : 'logged-out' %> custom-scrollbar overflow-auto">
    <% if logged_in? %>
      <%= render 'shared/header' %>
      <%= render 'shared/sidebar' %> 
      <%= render 'shared/footerbar' %>
    <% else %>
      <%= render 'shared/header' %> 
      <%= render 'shared/footer' %>
    <% end %>
    <%= render 'shared/flash_messages' %>
    <%= yield %>
    <!-- Flowbite JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <!--swiper CDN-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>

